

#max-width-logo{
    max-width: 50px;
}
.row-height{
    height: calc(100vh - 84px);
}

/*
    MAIN
*/


.bg-img{
    background-image: url("../img/sidebar-bg.png");
    background-color: #051E34;
}

.item-white{
    color: white;
}



.header-color{
    background: #4171E8;
}

.text-bg-my-pills{
    background: #3661C6;
}

/* 
    TABELLA 
*/
.stats-logo{
    max-width: 20px;
}


/*
    MEDIA QUERY
*/

@media screen and (min-width: 992px) {
    .width-table-cell{
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .offcanvas-width.offcanvas.offcanvas-end{
        width: auto;
    }
}

.ul-list-type-none{
    list-style-type: none;
}

.ul-list-type-none.icon-list{
    display: flex;
    font-size: 1.5em;
    margin-bottom: 0;
}



.ul-list-type-none li .dropdown button{
    color: orange;
    background-color: white;
    border: none;
}

