.debug header .container-fluid .row > *{
    border: 1px dashed black;
}

.debug main .container-fluid .row > *{
    border: 1px dashed black;
}

#max-width-logo{
    max-width: 50px;
}

.row-height{
    height: calc(100vh - 84px);
}

.ul-list-type-none{
    list-style-type: none;
}

.ul-list-type-none.icon-list{
    display: flex;
    font-size: 1.5em;
    margin-bottom: 0;
}



.ul-list-type-none li .dropdown button{
    color: orange;
    background-color: white;
    border: none;
}

